{include file="topo.html"}

<script type="text/javascript">
    {literal}
    $(function(){
	$("#produto").blur(function(){
            var produto = $("#produto").val();
            
	$.post("?acao=verifica_produto",  {prodId: produto, acao: 'verifica'}, function(valor){
				verifica(valor);		
	
		   }); 
        });
      });  
      function verifica(val){
        if(val != 0){
            if(confirm("Atenção!!!\n Este produto ja esta pedido ou ja foi comprado \n Deseja realizar o pedido novamente?")){
                
            }
            else{
                document.getElementById("produto").value = ""
                return false;
            }
                                    
        }
      }
    {/literal}
    
function excluir(ped,prod,desc){
    if(confirm("::: Deseja realmente excluir este registro? ::: \n"
                                                +"Pedido: "+ped
                                                +"\n Produto: "+prod+" - "+desc)){
       location = "?excluirProduto&idPedido="+ped+"&idProduto="+prod
    }
    return false
}
function validar(form){
    {if $idProduto|default:'' eq ''}
        if(form.produto.value == ""){
            alert("Campo Produto!!! \n Campo Obrigatorio!")
            form.produto.focus();
            return false
        }
        if(form.qtd.value == "" || form.qtd.value == "0,00"){
            alert("Campo Quantidade!!! \n Campo Obrigatorio!")
            form.qtd.focus();
            return false
        }
        if(form.estoque.value == ""){
            alert("Campo estoque!!! \n Campo Obrigatorio!")
            form.estoque.focus();
            return false
        }
    
  {else}
  if(form.qtd.value == ""){
            alert("Campo Quantidade!!! \n Campo Obrigatorio!")
            form.qtd.focus();
            return false
        }
  {/if}
    }
</script>

</head>

<body>
<div class="acao_pagina" >Produtos do Pedido {$idPedido}</div>

    {if $idProduto|default:'' eq ''}
    <div class="form_incluir" style="margin:0 0; padding:0 0;">
    <form action="" method="POST" name="form1" onsubmit="return validar(this)">
    <input name="idPedido" type="hidden" id="idPedido" value="{$idPedido}" />
    <table width="100%" border="0" align="center" class="KT_tngtable" bgcolor="#FFFFFF" style="margin:0 0; padding:0 0;">
      <tr>
        <th scope="col" colspan="5">Produto</th>
        <th scope="col">Quantidade</th>
        <th colspan="4" scope="col">Qtd. Estoque</th>
      </tr>
      <tr>
          <td scope="col" colspan="5">
          <select name="produto" id="produto" tabindex="10">
                 <option value="">Selecione ...</option>
             {foreach from=$produtos item=row}
                <option value="{$row.PRO_ID}">{$row.PRO_DESCRICAO} - {$row.PRO_ID|string_format:'%05d'}</option>
            {/foreach}
          </select>
      </td>
      <td scope="col">
          <input name="qtd" type="text" class="valor" id="qtd" />
      </td>
      <td scope="col" colspan="2">
          <input name="estoque" type="text" class="valor" id="estoque" />
      </td>
      <td scope="col" colspan="2">
          <input type="submit" name="acao" id="acao" value="Incluir" />
      </td>
      </tr>
      <tr>
        <th> Cod</th>
        <th colspan="4">Descri&ccedil;&atilde;o</th>
        <th>Qtd. Pedido</th>
        <th>Qtd. Estoque</th>
        <th>Sub-Total</th>
        <th colspan="3">&nbsp;</th>
      </tr>
          {foreach from=$prodPed item=prd}
        <tr>
          <td>{$prd.prodId}</td>
          <td colspan="4">{$prd.produto}</td>
          <td>{$prd.qtd|string_format:'%.2f'}</td>
          <td>{$prd.qtdEstoque|string_format:'%.2f'}</td>
          <td>{($prd.qtd + $prd.qtdEstoque)|string_format:'%.2f'}</td>
          <td><a href="?editar&idPedido={$idPedido}&idProduto={$prd.prodId}"><img src="../img/edit.png" alt="" width="16" height="16" /></a></td>
          <td><a href="#" onclick="excluir('{$prd.pcId}','{$prd.prodId}','{$prd.produto}')" ><img src="../img/delete.png" width="16" height="16" border="0" /></a></td>
        </tr>
        {/foreach}
  </table>
  </form>
    </div>
    {else}
    <form name="form" id="form" method="POST" onsubmit="return validar(this)">
        <table class="KT_tngtable" width="95%">
        <tr>
            <th>Cod. Pedido</th>
            <th>Cod. Produto</th>
            <th>Produto:</th>
            <th>Qtd. Estoque</th>
            <th colspan="2">Qtd.</th>            
        </tr>
        <tr>
            <td>{$idPedido}</td>
            <td>{$idProduto}</td>
            <td>{$produto}</td>
            <td>{$qtdEstoque|string_format:'%.2f'}</td>
            <td><input type="text" name="qtd" class="valor" id="qtd" value="{$qtd|string_format:'%.2f'}" /></td>
            <td><input type="submit" value="Editar" name="acao" id="acao" /></td>
        </tr>
    </table>
        <div align="center"><input type="button" value="Voltar" /></div>
        <input type="hidden" id="idPedido" name="idPedido" value="{$idPedido}" />
        <input type="hidden" id="idProduto" name="idProduto" value="{$idProduto}" />
        
    </form>
    {/if}
    
</body>
</html>